body {
    overflow-x: hidden;
    margin-top: 50px;
    margin-bottom: 60px;

}
.navbar
{
    background-color: dodgerblue;
}
.pb-hidden-margin
{
    margin-right: 30px;
}
.navbar-header
{
    color: white;
}

.color-white
{
    color:white;
}
.responsive-img-width
{
    width: 100% !important;
}
.eye-margin
{
    margin-left: 7px;
}
.pb-chevron
{
    margin-left: 5px;
}
a
{
    text-decoration: none;
}

.navbar a {
    color: white;
}
.mycontent-left {
    border-right: 1px
    solid #333;
    border-color: darkgrey;
    margin-top: 0px;
    height: 130vw;
}