
    <div class="form-group">
        <label for="exampleInputTitle">Text</label>
        <input ng-model="model.widget.text" type="text" value="What you are about to see is real;" class="form-control" id="exampleInputTitle" placeholder="Page Title">
    </div>
    <div class="form-group">
        <label for="headersize">Size</label>
            <select id="headersize"
                    ng-model="model.widget.size"
                    class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
            </select>


