
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header navbar-fixed-width">
            <div class="navbar-text pull-left pb-chevron" >
                <a href="#/user/{{model.user_id}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <a class="navbar-brand pull-left color-white" href="">
                <div class="color-white">
                Choose Widget
                </div>
            </a>

        </div>
    </div>
</nav>

<div class="pb-list container-fluid">
    <ul class="list-group">
        <li class="list-group-item">
            <a ng-click="model.addNewWidget(1)"
               class="nav-link">
                Header
            </a>
        </li>

        <li class="list-group-item">
            <a ng-click="model.addNewWidget(2)"
               class="nav-link">
                HTML
            </a>
        </li>
        <li class="list-group-item">
            <a ng-click="model.addNewWidget(3)"


               class="nav-link">
                Image
            </a>
        </li>
        <li class="list-group-item">
            <a ng-click="model.addNewWidget(4)"

               class="nav-link">
                Youtube
            </a>
        </li>

        <li class="list-group-item">
            <a ng-click="model.addNewWidget(5)"

               class="nav-link">
                Text
            </a>
        </li>

    </ul>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="row container-fluid">
        <div class="col-xs-2 col-xs-offset-10 col-md-1 col-md-offset-11 col-lg-1 col-lg-offset-11 col-sm-1 col-sm-offset-11">
        <div class="navbar-text text-center">
                <a href="#/profile/{{model.user_id}}" class="nav-link">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>
</body>
</html>

